header {
    font-size: 35px;
}

.a .text {

    position: absolute;
    top: 110%;
    left: 20%;
    color: white;

}

.a .tex {

    position: absolute;
    top: 220%;
    left: 20%;
    color: white;
}